@font-face {
	font-family: 'Geometria';
	src: url('../font/Geometria-Thin.eot');
	src: local('../font/Geometria Thin'), local('Geometria-Thin'),
		url('../font/Geometria-Thin.eot?#iefix') format('embedded-opentype'),
		url('../font/Geometria-Thin.woff') format('woff'),
		url('../font/Geometria-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../font/Geometria-Heavy.eot');
	src: local('../font/Geometria Heavy'), local('Geometria-Heavy'),
		url('../font/Geometria-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../font/Geometria-Heavy.woff') format('woff'),
		url('../font/Geometria-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../font/Geometria-Medium.eot');
	src: local('../font/Geometria Medium'), local('Geometria-Medium'),
		url('../font/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
		url('../font/Geometria-Medium.woff') format('woff'),
		url('../font/Geometria-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../font/Geometria.eot');
	src: local('../font/Geometria'),
		url('../font/Geometria.eot?#iefix') format('embedded-opentype'),
		url('../font/Geometria.woff') format('woff'),
		url('../font/Geometria.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../font/Geometria-Bold.eot');
	src: local('../font/Geometria Bold'), local('Geometria-Bold'),
		url('../font/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
		url('../font/Geometria-Bold.woff') format('woff'),
		url('../font/Geometria-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../font/Geometria-ExtraBold.eot');
	src: local('../font/Geometria ExtraBold'), local('Geometria-ExtraBold'),
		url('../font/Geometria-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../font/Geometria-ExtraBold.woff') format('woff'),
		url('../font/Geometria-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Geometria';
	src: url('../font/Geometria-Light.eot');
	src: local('../font/Geometria Light'), local('Geometria-Light'),
		url('../font/Geometria-Light.eot?#iefix') format('embedded-opentype'),
		url('../font/Geometria-Light.woff') format('woff'),
		url('../font/Geometria-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../font/Geometria-ExtraLight.eot');
	src: local('../font/Geometria ExtraLight'), local('Geometria-ExtraLight'),
		url('../font/Geometria-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../font/Geometria-ExtraLight.woff') format('woff'),
		url('../font/Geometria-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

html {
	font-size: 1px;
}

body {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Geometria';
}

h1 {
    margin: 0;
    font-size: 40rem;
    line-height: 1em;
    color: #1a1a1a;
    font-weight: 500;
}

h2 {
	font-size: 40rem;
	line-height: 1em;
	color: #1a1a1a;
	font-weight: 500;
}

ul > li {
    list-style: none;
}

p {
	margin: 0;
	font-size: 18rem;
	line-height: 1.4em;
	color: #2b2b2b;
}

a {
    text-decoration: none;
}

header {
	position: relative;
	z-index: 1;
}

hr {
	padding-bottom: 15rem;
	border: none;
	border-top: 1rem solid #66737d;
}

.bcg-hidden {
	overflow: hidden;
}

.wrapper {
    margin: 0 auto;
	padding: 0 15rem;
    max-width: 1350rem;
}

.flex-between {
    display: flex;
    justify-content: center;
	flex-wrap: wrap;
}

.bgc-first {
	position: absolute;
	width: 100%;
	height: 100%;
	top: -10%;
	left: 40%;
	background: url(../img/bcg-first.svg) no-repeat;
	background-size: 90%;
	z-index: -1;
}

.bgc-second {
	position: absolute;
	width: 100%;
	height: 100%;
	top: -5%;
	left: 60%;
	background: url(../img/bcg-first.svg) no-repeat;
	background-size: 50%;
	z-index: -1;
}

.bgc-third {
	position: absolute;
	width: 100%;
	height: 100%;
	top: -2%;
	left: 75%;
	background: url(../img/bcg-first.svg) no-repeat;
	background-size: 30%;
	z-index: -1;
}

.navigation {
	justify-content: space-between;
	padding-bottom: 50rem;
}

.logo {
    padding: 20rem 0;
}

.logo-img {
	width: 100%;
	max-width: 100rem;
	max-height: 22rem;
}

.nav-panel {
	display: none;
}

.nav-flex {
	column-gap: 50rem;
}

.top-menu {
    padding: 0;
    column-gap: 20rem;
}

.top-menu a {
    font-size: 13rem;
    letter-spacing: 1rem;
    line-height: 6.5em;
    text-transform: uppercase;
	color: #1a1a1a;
}

.top-menu li:hover > a {
	color: #050364;
	font-weight: bold;
}

.social {
	display: flex;
	margin: 0;
	padding: 20rem 0;
	align-items: center;
	column-gap: 25rem;
}

a.fb,
a.tw,
a.inst,
a.in {
	fill: #fff;
}

a.fb:hover,
a.tw:hover,
a.inst:hover,
a.in:hover {
	fill: #08293f;
}

.burger {
    position: relative;
    display: block;
    padding-top: 20rem;
    height: 30rem;
    width: 30rem;
    cursor: pointer;
}

.burger span,
.burger span:before,
.burger span:after {
    content: "";
    position: absolute;
    height: 2rem;
    width: 100%;
    background: #efeff0;
	z-index: 6;
}

.burger span:before {
    top: 8rem;
	width: 80%;
}

.burger span:after {
    bottom: -16rem;
}

.active {
    position: relative;
    padding: 0;
    padding-bottom: 20rem;
}

.active span{
    background-color: transparent;
}

.active span::before {
	width: 100%;
    top: 28rem;
    transform: rotate(45deg);
	background: #50bdd8;
}

.active span::after {
    bottom: -28em;
    transform: rotate(-45deg);
	background: #50bdd8;
}

.logo-burger {
	padding: 20rem 15rem;
}

.mobile {
    display: none;
}

.activemobile {
    display: block;
}

.mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
	background-color: #fff;
}

.burger-menu a {
    font-size: 15rem;
    line-height: 1.4em;
    color: #262626;
    font-weight: bold;
}

.top-menu-burger {
	padding: 0;
}

.top-menu-burger li {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.top-menu-burger li > a {
	padding: 25rem 25rem;
}

.start-info {
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.main-exit > p {
	max-width: 674rem;
	padding: 35rem 15rem;
}

.line {
    padding-left: 20rem;
    position: relative;
}

.line::before {
    content: "";
    position: absolute;
	top: 0;
    left: 0;
    height: 100%;
    border-left: 3rem solid #00ccff;
}

.line > b {
    font-size: 30rem;
    text-transform: uppercase;
    color: #09f;
    mix-blend-mode: overlay;
    -webkit-text-stroke: 1rem #09f;
    -webkit-text-fill-color: #fff;
    line-height: inherit;
}

.main-picture img,
.jeverly img,
.mcbook img,
.second-jev img,
.mc-last {
	width: 100%;
	height: 100%;
}

.button {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	row-gap: 25rem;
	flex-wrap: wrap;
	margin-bottom: 25rem;
}

.cta {
	margin: 0;
	padding: 13rem 50rem;
	min-width: 110rem;
	display: inline-block;
	font-size: 14rem;
	letter-spacing: 1rem;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 26rem;
	border: 2rem solid #0099ff;
	background-color: #0099ff;
	transition: all 0.5s ease;
}

.cta > a {
	color: #fff;
}

.cta:hover {
	color: #0099ff;
	border: 2rem solid #0099ff;
	background-color: #fff;
}

.cta-second {
	font-weight: bold;
	border-radius: 26rem;
	border: 2rem solid #0099ff;
	background-color: #fff;
	transition: all 0.5s ease;
}

.cta-second a {
	color: #2b2b2b;
}

.cta-second:hover {
	background-color: #0099ff;
}

.cta-second a:hover {
	color: #fff;
}

.bcg-first {
	position: relative;
}

.bcg-first-section {
	position: absolute;
	width: 100%;
	height: 100%;
	top: -15%;
	left: -25%;
	background: url(../img/bcg-two.svg) no-repeat;
	background-size: 100%;
	z-index: -2;
	transition: all 2s ease;
}

.bcg-second-sec-two {
	position: absolute;
	width: 100%;
	height: 100%;
	top: -15%;
	left: -5%;
	background: url(../img/bcg-two.svg) no-repeat;
	background-size: 70%;
	z-index: -3;
	transition: all 2s ease;
}

.card {
	padding: 20rem  0;
	align-items: center;
	flex-wrap: wrap;
	row-gap: 25rem;
}

.line-two {
	position: relative;
	padding-left: 20rem;
}

.line-two::before {
	content: "";
    position: absolute;
	top: 0;
    left: 0;
    height: 100%;
    border-left: 3rem solid #00ccff;
}

.first-info > h2 {
	margin: 0;
}

.first-info > p {
	margin: 0;
	padding: 46rem 0;
	font-size: 18rem;
	line-height: 1.5em;
	color: #2b2b2b;
}

p.text-head {
	margin: 0;
	font-size: 20rem;
	letter-spacing: 2rem;
	line-height: 4.25em;
	text-transform: uppercase;
	color: #0099ff;
	font-weight: bold;
}

.card-mac {
	position: relative;
}

.white-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: -15%;
	right: 0;
	background: url(../img/white.svg) no-repeat;
	background-size: 80%;
	z-index: -2;
	transition: all 2s ease;
	transform: rotate(-15deg);
}

.white-bg-two {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 5%;
	left: 0;
	background: url(../img/white.svg) no-repeat;
	background-size: 70%;
	z-index: -2;
	transition: all 2s ease;
}

.advantage {
	max-width: 1100rem;
	margin: 0 auto;
	padding-bottom: 80rem;
	align-items: flex-end;
	text-align: center;
	flex-wrap: wrap;
	column-gap: 80rem;
	row-gap: 25rem;
}

.advantage > h2 {
	padding-bottom: 20rem;
}

.engine > h3,
.time > h3,
.workflows > h3 {
	font-size: 20rem;
	letter-spacing: 2rem;
	text-transform: uppercase;
	color: #1a1a1a;
	font-weight: bold;
}

.advantage > .cta > a {
	margin: 0;
}

.card-last {
	max-width: 1350rem;
	margin: 0 auto;
}

.last-white-bg {
	position: relative;
}

.white-bg-l {
	position: absolute;
	width: 120%;
	height: 100%;
	top: -30%;
	left: -20%;
	background: url(../img/big-white.svg) no-repeat;
	background-size: 120%;
	z-index: -1;
	transition: all 2s ease;
}

.white-bg-two-l {
	position: absolute;
	width: 100%;
	height: 100%;
	top: -20%;
	left: -20%;
	background: url(../img/white.svg) no-repeat;
	background-size: 100%;
	z-index: -1;
	transition: all 2s ease;
	transform: rotate(-190deg);
}

.about-company > p:last-child {
	color: #8f8f8f;
}

.logo-company {
	margin: 200rem auto 150rem;
	padding: 0 15rem;
}

.firstlogo {
	padding-bottom: 105rem;
}

.firstlogo,
.secondlogo {
	row-gap: 85rem;
	column-gap: 65rem;
	justify-content: center;
}

.firstlogo picture,
.secondlogo  picture {
	min-width: 220rem;
	text-align: center;
}

.logo-position {
	position: relative;
	top: -33rem;
}

.last {
	margin-bottom: 50rem;
}

.bottom-card {
	position: relative;
}

.bcg-last {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 60%;
	right: -20%;
	background: url(../img/bottom.svg) no-repeat;
	background-size: 100%;
	z-index: -1;
	transition: all 2s ease;
}

.bottom-card:hover > .bcg-last,
.bottom-card:hover > .bcg-last-two,
.bottom-card:hover > .bcg-last-three {
	filter: drop-shadow(0 0 30rem #10aaff);
	transform: rotate(15deg);
}

.bcg-last-two {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 65%;
	right: -45%;
	background: url(../img/bottom.svg) no-repeat;
	background-size: 80%;
	z-index: -1;
	transition: all 2s ease;
}

.bcg-last-three {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 75%;
	right: -70%;
	background: url(../img/bottom.svg) no-repeat;
	background-size: 70%;
	z-index: -1;
	transition: all 2s ease;
}

footer {
	margin: 0 auto;
	padding: 0;
	background-color: #001726;
}

.footer-top {
	padding: 60rem 15rem;
	justify-content: flex-start;
	column-gap: 60rem;
}

.line-bottom {
	margin: 15rem 0 0;
	width: 166rem;
	border: none;
	border-top: 1rem solid #00ccff;
}

.bottom-logo > p {
	font-size: 14rem;
	color: #fff;
}

.link {
	padding: 25rem 0;
}

.link > p,
.contact-info > p {
	font-size: 14rem;
	letter-spacing: 1rem;
	text-transform: uppercase;
	color: #0099ff;
	font-weight: bold;
}

.link ul {
	margin: 0 auto;
	padding: 25rem 70rem 0 0;
}

.link ul > li > a {
	font-size: 14rem;
	line-height: 22rem;
	color: #ffffff;
	font-weight: 300;
}

.link li:hover > a,
.contacts p:hover > a {
	color: #0099ff;
}

.contacts {
	min-width: 220rem;
	padding-top: 25rem;
}

.mail,
.phone,
.adress {
 	fill: #fff;
}

.contact-info > p {
	padding-top: 25rem;
}

.contacts > p {
	padding-bottom: 25rem;
}

.contacts > p:first-child {
	font-size: 14rem;
	letter-spacing: 1rem;
	text-transform: uppercase;
	color: #0099ff;
	font-weight: bold;
}

.contacts > p > a {
	font-size: 14rem;
	color: #ffffff;
	font-weight: 300;
}

.contacts-form > p:first-child {
	padding-bottom: 25rem;
	font-size: 14rem;
	letter-spacing: 1rem;
	text-transform: uppercase;
	color: #0099ff;
	font-weight: bold;
}

.form-mail {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	row-gap: 25rem;
}

.form {
	width: 100%;
	padding: 15rem 23rem;
	font-size: 14rem;
	color: #ffffff;
	background-color: #001726;
	border-radius: 23rem;
	border: 1rem solid #fff;
	transition: all .5s ease;
}

.cta-bottom :hover {
	color: #0099ff;
	background-color: #001726;
}

.social-bottom {
	display: flex;
	padding: 40rem 0;
	align-items: center;
	justify-content: center;
	column-gap: 25rem;
}

a.fb-b,
a.tw-b,
a.inst-b,
a.in-b {
	fill: #fff;
}

a.fb-b:hover,
a.tw-b:hover,
a.inst-b:hover,
a.in-b:hover {
	fill: #0099ff;
}

.footer-bottom {
	padding-top: 20rem;
}

.footer-bottom p {
	opacity: 0.612;
	font-size: 14rem;
	color: #ffffff;
	font-weight: 300;
}

.privacy {
	padding-bottom: 20rem;
	display: flex;
	column-gap: 35rem;
}

.privacy > p > a {
	opacity: 0.612;
	font-size: 14rem;
	color: #fff;
	font-weight: 300;
}

.privacy a:hover {
	opacity: 1;
	text-decoration: underline;
}

@media screen and (min-width: 426px) {
	.form-mail {
		justify-content: space-between;
		row-gap: 15rem;
		column-gap: 65rem;
	}

	.cta {
		margin-right: 25rem;
	}

	.social-bottom {
		justify-content: flex-start;
	}
}

@media screen and (min-width:768px) {
	.logo-img {
		width: 100%;
		max-width: 167rem;
		max-height: 22rem;
	}
	
	.link {
		min-width: 300rem;
	}

	.card {
		padding: 20rem  0;
		align-items: flex-start;
		flex-wrap: nowrap;
		column-gap: 25rem;
	}
}

@media screen and (min-width: 839px) {
	.firstlogo, .secondlogo {
		padding-bottom: 55rem;
		row-gap: 95rem;
		column-gap: 155rem;
	}

	.link {
		min-width: 400rem;
	}

}

@media screen and (min-width: 1024px) {
	h1,
	h2 {
		font-size: 70rem;
	}

	.flex-between {
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
	}
	
	.bgc-first {
		top: -25%;
		left: 15%;
		background-size: 70%;
	}
	
	header:hover>.bgc-first {
		transform: rotate(-5deg);
		filter: drop-shadow(5rem 5rem 20rem 10rem #176599);
	}
	
	.bgc-second {
		top: -10%;
		left: 35%;
		background-size: 70%;
		transform: rotate(10deg);
	}
	
	header:hover>.bgc-second {
		top: -15%;
		right: 0%;
		transform: rotate(-15deg);
		filter: drop-shadow(5rem 5rem 20rem 10rem #176599);
	}
	
	.bgc-third {
		top: -30%;
		left: 55%;
		background-size: 60%;
		z-index: -1;
		transition: all 2s ease;
	}
	
	header:hover>.bgc-third {
		transform: rotate(-15deg);
		filter: drop-shadow(5rem 5rem 20rem 10rem #176599);
	}

	.burger,
	.mobile {
		display: none;
	}
	
	.nav-panel {
		display: flex;
	}
	
	.start-info,
	.button,
	.advantage {
		flex-wrap: nowrap;
	}
	
	.top-menu {
		column-gap: 30rem;
	}
	
	.top-menu a {
		font-size: 13rem;
		letter-spacing: 1rem;
		line-height: 6.5em;
		text-transform: uppercase;
		color: #fefefe;
	}
	
	.top-menu li:hover > a {
		color: #1a1a1a;
		font-weight: bold;
	}
	
	.social,
	.logo {
		padding: 30rem 0;
	}

	.main-exit > p {
		padding: 35rem 0;
	}

	.main-picture {
		padding-bottom: 80rem;
		width: 150%;	
	}

	.main-picture img {
		width: 100%;
	}

	.jeverly img {
		min-width: 310rem;
		min-height: 332rem;
	}

	.card-mac,
	.last-white-bg,
	.bottom-card {
		width: 120%;
	}
	
	.first-info {
		padding-left: 60rem;
	}

	.about-company {
		padding-left: 50rem;
	}

	.card {
		padding: 120rem 15rem 0;
		align-items: flex-start;
	}
	
	.firstlogo, .secondlogo {
		column-gap: 25rem;
	}

	.footer-top {
		justify-content: space-between;
		column-gap: 5rem;
	}

	.link {
		padding: 0;
		min-width: 150rem;
	}

	.contact-info > p {
		padding-top: 0;
	}
	
	.contacts-form { 
		margin-left: 15rem;
	}

	.form-mail label {
		max-width: 230rem;
	}
}

@media screen and (min-width:1440px) {
	.bgc-first {
		top: -30%;
		left: 15%;
		background-size: 80%;
		transform: rotate(-10deg);
	}

	.form-mail {
		flex-wrap: nowrap;
		justify-content: space-between;
		row-gap: 0;
		column-gap: 65rem;
	}

	.form-mail label {
		min-width: 300rem;
	}
}

@media screen and (min-width: 2200px) {
	html {
		font-size: 2px;
	}

	.jeverly img {
		width: 110%;
	}
}